.MakeBlogContainer{
    background-color: white;
    padding: 2rem 4rem;
}
header{
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
    margin-bottom: 20px;
}
header .RightHeader{
    display: flex;
    font-size: 19px;
}
header .RightHeader a{
    color: #515151;
    text-decoration: none;
    margin-left: 2rem;
}
main p{
    font-size: 16px;
    font-weight: 400;
    color: #515151;
    margin-bottom: 15px;
}
main input{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
}
main button{
    cursor: pointer;
    color: aliceblue;
    background-color: #515151;
    border: none;
    border-radius: 5px;
    font-size: 17.5px;
    height: 2.2rem;
    margin-top: 20px;
    width: 100%;
}